# Definition stuff? TODO

open_document_embedded o
open_document_embedded_from_current_path <A-o>


next_page <C-f>
previous_page <C-b>

screen_up e
screen_down;screen_down d
screen_down;screen_down <space>

move_down <C-j>
move_up <C-k>
move_left l
move_right h

add_highlight_with_current_type H
set_select_highlight_type;add_highlight_with_current_type S
add_annot_to_highlight ah

add_freetext_bookmark fb

toggle_dark_mode <C-i>

command_palette <A-x>
command_palette :
command ;

goto_page_with_page_number gp

# goto_toc <tab>


# Ctrl o, ctrl shift o are really good

# Bookmark stuff
# execute_command_b b
# execute_command_h;add_highlight H
