@import "macchiato.css";


/* General */
* {
    border: none;
 	border-radius: 26px;
   /* border-radius: 0; */
    min-height: 0;
    margin: 1px;
    /* padding: 0.4rem; */
}

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px ;
}

/* Workspaces */
#workspaces {
  /* border-radius: 1rem; */
  border-radius: 1rem 0px 0px 1rem;
  margin: 5px;
  margin-left: 1rem;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
}
#workspaces button.focused {
  color: @sapphire;
}

/* #workspaces button.active { */
/*   color: @lavender; */
/*   border-radius: 1rem; */
/* } */

#workspaces button:hover {
  color: @lavender;
}

#window{
  border-radius: 0px 1rem 1rem 0px;
}

/* TODO mode*/

/* All */
#workspaces,
#mode,
#custom-waybar-mpris,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-power,
#network,
#idle_inhibitor,
#custom-weather,
#window
{
  background-color: alpha( @surface0, 0.75) ;
  padding: 0.5rem 1rem;
  margin: 5px 0px;
}



/* Center */
#custom-waybar-mpris{
  color: @teal;
  border-radius: 1rem ;
  margin-left: 10rem;

}


/* Right */

#clock {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-weather {
    color: @sky;
  border-radius: 0;
    
}


#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery {
  border-radius: 0;
}

#backlight{
  color: @yellow;
  border-radius: 0;
  
}


#network {
  border-radius: 0;
  color: @peach;
}


#pulseaudio {
  color: @maroon;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 5rem;
}





#idle_inhibitor{
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}



#tray {
  margin-right: 1rem;
  /* border-radius: 1rem; */
  border-radius: 0px 1rem 1rem 0px;
}
