@import "macchiato.css";


/* General */
* {
    border: none;
 	border-radius: 26px;
    min-height: 0;
    margin: 1px;
    /* padding: 0.4rem; */
}

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px ;
}

/* Workspaces */
#workspaces {
  border-radius: 1rem;
  /* border-radius: 1rem 0px 0px 1rem; */
  margin-top: 5px;
  margin-left: 4rem;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
}
#workspaces button.focused {
  color: @sapphire;
}

#workspaces button.urgent {
    border-color: @red;
    color: @green;
}




#workspaces button:hover {
  background-color: alpha(@surface0, 0.85);
  border-color: @lavender;
  background: alpha(@surface0, 0.85);;
  text-shadow: inherit;



}

#window{
  border-radius: 0px 1rem 1rem 0px;
}

/* TODO mode*/



/* All */
#workspaces,
#mode,
#custom-waybar-mpris,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-power,
#network,
#idle_inhibitor,
#custom-weather,
#window,
#memory,
#cpu,
#custom-launcher
{
  background-color: alpha( @surface0, 0.85) ;
  padding: 0.5rem 1rem;
  margin: 5px 0 0 0;
  transition-property: background-color;
  transition-duration: 1s;
}

/* Left */

#memory {
    color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 8rem;
}

#memory.warning {
  color: @maroon;
}

#memory.critical {
  color: @red;
}

#cpu {
    color: @yellow;
  border-radius: 0px 1rem 1rem 0px;
}

#cpu.warning {
    color: @maroon;
}
#cpu.critical {
    color: @red;
}


#tray {
    color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 8rem;
}

#custom-waybar-mpris{
  color: @teal;
  /* border-radius: 1rem ; */
  border-radius: 0px 1rem 1rem 0px;

}


/* Right */

#clock {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 8rem;
}

#custom-weather {
    color: @sky;
  border-radius: 0;
    
}


#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery {
  border-radius: 0;
}

#backlight{
  color: @yellow;
  border-radius: 0;
  
}


#network {
  border-radius: 0;
  color: @peach;
}


#pulseaudio {
  color: @maroon;
  border-radius: 0px 1rem 1rem 0px;

}





#idle_inhibitor{
    color: @peach;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 8rem;
}

#custom-launcher{
    color:@pink;
  border-radius: 0;
  margin-right: 2rem;
  /* border-radius: 1rem; */
  border-radius: 0px 1rem 1rem 0px;
    
}



